
body {
    background: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

svg {
    display: block;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0/*-50%*/);
}

/*
 * SVG display styles
 */
svg > g >line.vertical-line {
    stroke: orange;
    stroke-width: 2;
}

svg > g > line.horizontal-line {
    stroke: blue;
    stroke-width: 2;
}

svg > g > circle.marker {
    fill: maroon;
    stroke-width: 0;
}

svg > g > line.marker-history-line {
    stroke: red;
    stroke-width: 2;
}

div#ui {
    display: flex;
    flex-direction: column;
    
    position: absolute;
    left: 5%;
    top: 5%;
    overflow: hidden;
    
    width: 300px;
}

/*
 * Model controls
 */

div#models-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

a.button {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: .5rem;
    
    width: 150px;
    
    color: #fff;
    background-color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: .875rem;
    
    padding: .5rem 1rem .5rem 1rem;
    box-sizing: border-box;
}

a.button:hover {
    color: white;
    background-color: #555;
}

a.selected-button {
    background-color: #888;
}

/*
 * Text
 */
div#info-blocks {
    display: flex;
    flex-direction: column;
}

.info-block {
    /*width: 50%;
    transform: translate(50%, 0); */
}

.info-block > span {
    font-weight: bold;
}

.hidden-block {
    display: none;
}

.info-block > img {
    display: inline-block;
    vertical-align: middle;
}

/*
 * HUD
 */

a.link {
  color: #d00;
  text-decoration: none;
  font-weight: bold;
}

a.link:hover {
  color: #f00;
  text-decoration: none;
}

div#hud > div.hud-panel {
    position: absolute;
    padding: 5px;
}

div#hud > div.hud-panel.top-right {
    top: 0px;
    right: 0px;
    text-align: right;
}

#hud {
  display: flex;
}
